body{
    background-color: #DCFCE7;
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: #166534;
    box-shadow: 2vh 2vh 2vh rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text{
    margin: 0px;
    color: white;  
    font-weight: bolder;
    font-size: 7vh;
    text-align: center;
}

.players{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content:   center;
    gap: 3vw;
    align-items: center;
    color: #166534;
    font-size: 4vh;
}

.players p{
    margin: 1vh 0px 1vh 0px;
    font-weight: bold;
}

.tile-container{
    flex: 6.5;
    display: flex;
    justify-content: center;

}

.tile-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1vh;
    height: 400px;
    width: 400px;
}

.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #166534;
    border-radius: 12px;
    font-size: 50px;
    color: white;
    font-weight: bold;

}

.tile:hover,.startbtn:hover,.replayBtn:hover,.newGameBtn:hover{
    box-shadow: 2vh 2vh 2vh rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
}


.footer{
    background-color: #166534;
    flex: 0.5;
    box-shadow: 0px -2vh 2vh rgba(0,0,0,0.15);
}

.start-dialog,.end-dialog{
    display: none;
}

.blur-background{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #C0C0C0;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
}

.start-dialog-container,.end-dialog-content{ 
    height: 35vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 25vh;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #DCFCE7;
    border-radius: 8px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
    z-index: 10000000;
    width: 20vw;
    opacity: 1;
}
form{
    display: flex;
    flex-direction: column;
}
.start-dialog-container p{
    background-color: #166534;
    margin: 0px;
    border-radius: 8px 8px 0px 0px;
    flex: 1;
    font-size: 4vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

fieldset{
    margin-top: 2vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 2vh 0px 2vh;
    border-style: none;
    color: #166534;
    font-weight: bolder;
}

fieldset input{
    height: 3vh;
    border-radius: 8px;
    border-style: none;
}

.startbtn,.replayBtn,.newGameBtn{
    flex: 2;
    font-size: 2vh;
    font-weight: bolder;
    margin: 2vh;
    background-color: #166534;
    border-radius: 8px;
    color: white;
    border-style: none;
    padding: 8px;
}

.replayBtn,.newGameBtn{
    width: 6vw;  
}

.end-dialog-content p{
    font-weight: bolder;
    color: #166534;
    font-size: 5vh;
}

.button-container{
    flex: 1;
}